# DATA2001 Assignment

#First, we will begin by importing the various libraries.

## Importing the libraries
import pandas as pd
import matplotlib as plot
import numpy as np
import geopandas as gpd

In [1]:
import pandas as pd
import geopandas as gpd
from geopandas import GeoSeries, GeoDataFrame
import json
import os

import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras
from geoalchemy2 import Geometry, WKTElement

In [2]:
# Function use to check if null values exist in the dataset. If there's null value, we'll drop the row to increase 
# accuracy in our calculations.

def checkNull( dataset ):
    
    beenCleaned = False    
    
    for num in list(dataset.isnull().sum()):

        if num != 0:
            print("THIS DATASET HAS SOME NA VALUES.")
            print("Null value found. Coverted null values to ...")
            dataset = dataset.dropna() #found null, drop the row
            beenCleaned = True
            
    if beenCleaned:
        print("\nNull values have been removed. You're good to go!")

    else:
        print("\nNo null values in. Good to go, no need for cleaning :)")

    return dataset

In [3]:
#Connecting to pgAdmin

data_path = "."

def pgconnect(credential_filepath, db_schema="public"):
    with open(credential_filepath) as f:
        db_conn_dict = json.load(f)
        HOST       = db_conn_dict['host']
        DB_USER    = db_conn_dict['user']
        DB_PW      = db_conn_dict['password']
        DEFAULT_DB = db_conn_dict['user']

        try:
            db = create_engine('postgres+psycopg2://'+DB_USER+':'+DB_PW+'@'+HOST+'/'+DEFAULT_DB, echo=False)
            conn = db.connect()
            print('connected')
        except Exception as e:
            print("unable to connect to the database")
            print(e)
            
        return db,conn

credfilepath = os.path.join(data_path, "data2x01_db.json")
db, conn = pgconnect(credfilepath)

connected

In [4]:
abs_pathname = os.path.abspath("RFSNSW_BFPL.shp")
rfs_shapefile = gpd.read_file(abs_pathname)
print(rfs_shapefile)
rfs_shapefile = checkNull(rfs_shapefile)


RFSNSW_BFPL = '''CREATE TABLE rfsnsw_bfpl (
                     "CATEGORY" INTEGER, 
                     "SHAPE_LENG" FLOAT, 
                     "SHAPE_AREA" FLOAT, 
                     location GEOMETRY(POINT,4326))''' 

conn.execute("DROP TABLE IF EXISTS rfsnsw_bfpl")
conn.execute(RFSNSW_BFPL)

rfs_tablename = "rfsnsw_bfpl"
rfs_shapefile.to_postgis(rfs_tablename, conn, if_exists='replace')

res = pd.read_sql_query('SELECT * FROM rfsnsw_bfpl', conn)
res

        CATEGORY  SHAPE_LENG    SHAPE_AREA                     geometry
0              1    0.000017  5.392400e-12  POINT (149.11319 -33.05824)
1              1    0.000178  1.140005e-09  POINT (152.27536 -29.68316)
2              1    0.000890  4.950178e-08  POINT (152.14244 -29.68266)
3              1    0.000442  8.094091e-09  POINT (152.27579 -29.68259)
4              1    0.000890  4.950155e-08  POINT (151.99619 -29.68131)
...          ...         ...           ...                          ...
516628         2    0.000942  3.484545e-08  POINT (153.49994 -28.47663)
516629         2    0.000457  8.385178e-09  POINT (153.49998 -28.62864)
516630         2    0.001833  1.341083e-07  POINT (153.50010 -28.51679)
516631         2    0.012603  3.187411e-06  POINT (153.38733 -28.49906)
516632         2    0.000555  8.779539e-09  POINT (153.49997 -28.53430)

[516633 rows x 4 columns]

No null values in. Good to go, no need for cleaning :)

,CATEGORY,SHAPE_LENG,SHAPE_AREA,geometry
0,1,0.000017,5.392400e-12,0101000020BB100000FFA38A3F9FA362403BFC9C857487...
1,1,0.000178,1.140005e-09,0101000020BB100000948508C5CF0863409479FD58E3AE...
2,1,0.000890,4.950178e-08,0101000020BB10000049F954DE8E04634017589493C2AE...
3,1,0.000442,8.094091e-09,0101000020BB1000002BDB723DD308634089DD2B77BEAE...
4,1,0.000890,4.950155e-08,0101000020BB100000D649D9C9E0FF624097E74D1A6AAE...
...,...,...,...,...
516628,2,0.000942,3.484545e-08,0101000020BB100000392D3588FF2F63400752AF59047A...
516629,2,0.000457,8.385178e-09,0101000020BB1000006987ADCBFF2F634047713066EEA0...
516630,2,0.001833,1.341083e-07,0101000020BB1000002D750FCA00306340E932EDA84C84...
516631,2,0.012603,3.187411e-06,0101000020BB1000000C032703652C63402EA7684DC27F...
516632,2,0.000555,8.779539e-09,0101000020BB100000CA07C0CAFF2F6340EB6F7710C888...

In [5]:
abs_pathname = os.path.abspath("SA2_2016_AUST.shp")
sa_2_shapefile = gpd.read_file(abs_pathname)
print(sa_2_shapefile)
sa_2_shapefile = checkNull(sa_2_shapefile)
print(sa_2_shapefile.dtypes)

     SA2_MAIN16 SA2_5DIG16                            SA2_NAME16 SA3_CODE16  \
0     101021007      11007                             Braidwood      10102
1     101021008      11008                               Karabar      10102
2     101021009      11009                            Queanbeyan      10102
3     101021010      11010                     Queanbeyan - East      10102
4     101021011      11011                     Queanbeyan Region      10102
...         ...        ...                                   ...        ...
2305  901021002      91002               Cocos (Keeling) Islands      90102
2306  901031003      91003                            Jervis Bay      90103
2307  901041004      91004                        Norfolk Island      90104
2308  997979799      99799  Migratory - Offshore - Shipping (OT)      99797
2309  999999499      99499                 No usual address (OT)      99999

                                SA3_NAME16 SA4_CODE16  \
0                               Queanbeyan        101
1                               Queanbeyan        101
2                               Queanbeyan        101
3                               Queanbeyan        101
4                               Queanbeyan        101
...                                    ...        ...
2305               Cocos (Keeling) Islands        901
2306                            Jervis Bay        901
2307                        Norfolk Island        901
2308  Migratory - Offshore - Shipping (OT)        997
2309                 No usual address (OT)        999

                                SA4_NAME16 GCC_CODE16  \
0                           Capital Region      1RNSW
1                           Capital Region      1RNSW
2                           Capital Region      1RNSW
3                           Capital Region      1RNSW
4                           Capital Region      1RNSW
...                                    ...        ...
2305                     Other Territories      9OTER
2306                     Other Territories      9OTER
2307                     Other Territories      9OTER
2308  Migratory - Offshore - Shipping (OT)      99799
2309                 No usual address (OT)      99499

                                GCC_NAME16 STE_CODE16         STE_NAME16  \
0                              Rest of NSW          1    New South Wales
1                              Rest of NSW          1    New South Wales
2                              Rest of NSW          1    New South Wales
3                              Rest of NSW          1    New South Wales
4                              Rest of NSW          1    New South Wales
...                                    ...        ...                ...
2305                     Other Territories          9  Other Territories
2306                     Other Territories          9  Other Territories
2307                     Other Territories          9  Other Territories
2308  Migratory - Offshore - Shipping (OT)          9  Other Territories
2309                 No usual address (OT)          9  Other Territories

      AREASQKM16                                           geometry
0      3418.3525  POLYGON ((149.58423 -35.44427, 149.58444 -35.4...
1         6.9825  POLYGON ((149.21898 -35.36739, 149.21799 -35.3...
2         4.7634  POLYGON ((149.21325 -35.34325, 149.21619 -35.3...
3        13.0034  POLYGON ((149.24033 -35.34782, 149.24023 -35.3...
4      3054.4099  POLYGON ((149.23580 -35.38738, 149.23771 -35.3...
...          ...                                                ...
2305     13.7163  MULTIPOLYGON (((96.83047 -12.17636, 96.83045 -...
2306     67.8134  MULTIPOLYGON (((150.69566 -35.18297, 150.69555...
2307     38.6509  MULTIPOLYGON (((167.99472 -29.04534, 167.99432...
2308      0.0000                                               None
2309      0.0000                                               None

[2310 rows x 13 columns]
THIS DATASET HAS SOME NA VALUES.
Null value found. Coverted null values to ...

Null values have been removed. You're good to go!
SA2_MAIN16      object
SA2_5DIG16      object
SA2_NAME16      object
SA3_CODE16      object
SA3_NAME16      object
SA4_CODE16      object
SA4_NAME16      object
GCC_CODE16      object
GCC_NAME16      object
STE_CODE16      object
STE_NAME16      object
AREASQKM16     float64
geometry      geometry
dtype: object

In [6]:
SA2_2016 = '''CREATE TABLE sa2_2016 (
                     "SA2_MAIN16" NUMERIC, 
                     "SA2_5DIG16" NUMERIC, 
                     "SA2_NAME16" VARCHAR(50), 
                     "SA3_CODE16" NUMERIC, 
                     "SA3_NAME16" VARCHAR(50), 
                     "SA4_CODE16" NUMERIC,
                     "SA4_NAME16" VARCHAR(50), 
                     "GCC_CODE16" VARCHAR(50), 
                     "GCC_NAME16" VARCHAR(50),
                     "STE_CODE16" NUMERIC, 
                     "STE_NAME16" VARCHAR(50), 
                     "AREASQKM16" FLOAT,
                     location GEOMETRY(MULTIPOLYGON,4326))''' 

conn.execute("DROP TABLE IF EXISTS sa2_2016")
conn.execute(SA2_2016)

sa2_tablename = "sa2_2016"
sa_2_shapefile.to_postgis(sa2_tablename, conn, if_exists='replace')

res = pd.read_sql_query('SELECT * FROM sa2_2016', conn)
res

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525,0103000020BB100000010000005F36000080EB6509B2B2...
1,101021008,11008,Karabar,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,6.9825,0103000020BB100000010000002C01000008585BE601A7...
2,101021009,11009,Queanbeyan,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,4.7634,0103000020BB10000001000000540100001C946EEDD2A6...
3,101021010,11010,Queanbeyan - East,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,13.0034,0103000020BB100000010000001E020000E039F9CCB0A7...
4,101021011,11011,Queanbeyan Region,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3054.4099,0103000020BB100000010000008F1C00002C3478AE8BA7...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2287,801111141,81141,Namadgi,80111,Urriarra - Namadgi,801,Australian Capital Territory,8ACTE,Australian Capital Territory,8,Australian Capital Territory,1202.8930,0103000020BB100000010000000C0A0000640F6EE4BA99...
2288,901011001,91001,Christmas Island,90101,Christmas Island,901,Other Territories,9OTER,Other Territories,9,Other Territories,136.1356,0103000020BB10000001000000940F00009806337D216B...
2289,901021002,91002,Cocos (Keeling) Islands,90102,Cocos (Keeling) Islands,901,Other Territories,9OTER,Other Territories,9,Other Territories,13.7163,0106000020BB100000380000000103000000010000000E...
2290,901031003,91003,Jervis Bay,90103,Jervis Bay,901,Other Territories,9OTER,Other Territories,9,Other Territories,67.8134,0106000020BB1000000300000001030000000100000017...
2291,901041004,91004,Norfolk Island,90104,Norfolk Island,901,Other Territories,9OTER,Other Territories,9,Other Territories,38.6509,0106000020BB1000001F0000000103000000010000000B...

In [8]:
rfs = rfs_shapefile
sa2 = sa_2_shapefile

In [9]:
combined = gpd.sjoin(sa2, rfs, how = 'inner', op = 'contains')
combined.head(2)

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry,index_right,CATEGORY,SHAPE_LENG,SHAPE_AREA
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525,"POLYGON ((149.58423 -35.44427, 149.58444 -35.4...",201335,1,0.009314,0.000002
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525,"POLYGON ((149.58423 -35.44427, 149.58444 -35.4...",466859,1,0.016817,0.000010

In [10]:
rfs.head(2)

   CATEGORY  SHAPE_LENG    SHAPE_AREA                     geometry
0         1    0.000017  5.392400e-12  POINT (149.11319 -33.05824)
1         1    0.000178  1.140005e-09  POINT (152.27536 -29.68316)

In [11]:
sa2.head(2)

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525,"POLYGON ((149.58423 -35.44427, 149.58444 -35.4..."
1,101021008,11008,Karabar,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,6.9825,"POLYGON ((149.21898 -35.36739, 149.21799 -35.3..."

In [ ]:
conn.execute("DROP TABLE IF EXISTS combinedshapefiles")

combinedshapefiles = """CREATE TABLE IF NOT EXISTS combinedshapefiles (
                    
                     "SA2_MAIN16" NUMERIC, 
                     "SA2_5DIG16" NUMERIC, 
                     "SA2_NAME16" VARCHAR(50), 
                     "SA3_CODE16" NUMERIC, 
                     "SA3_NAME16" VARCHAR(50), 
                     "SA4_CODE16" NUMERIC,
                     "SA4_NAME16" VARCHAR(50), 
                     "GCC_CODE16" VARCHAR(50), 
                     "GCC_NAME16" VARCHAR(50),
                     "STE_CODE16" NUMERIC, 
                     "STE_NAME16" VARCHAR(50), 
                     "AREASQKM16" NUMERIC,
                     geometry GEOMETRY(MULTIPOLYGON,4326),
                     "CATEGORY" INTEGER, 
                     "SHAPE_LENG" FLOAT, 
                     "SHAPE_AREA" FLOAT
                     
                   )"""
conn.execute(combinedshapefiles)
print("\nSuccessfully created combinedshapefiles table.")

In [ ]:
#Testing if table has been created
table_name = "combinedshapefiles"
#combined.to_sql(table_name, con=conn, if_exists='replace',index=False)
combined.to_postgis(table_name, conn, if_exists='replace')

In [ ]:
queeery = pd.read_sql_query('SELECT * FROM combinedshapefiles', conn)
queeery

In [ ]:
fireStation_count = fireStation_sa2.groupby(['SA2_MAIN16']).count()
fireStation_count = fireStation_count['geometry'].to_frame()
fireStation_count['SA2_MAIN16'] = fireStation_count.index
fireStation_count = fireStation_count.rename(columns={'geometry': 'station_count'})


firestations_count_val = """CREATE TABLE IF NOT EXISTS firestations (
                        SA2_MAIN16 Integer PRIMARY KEY,
                        station_count Integer
                   )"""

conn.execute(firestations_count_val)
fireStation_count.to_sql('firestations', con=conn, if_exists='replace',index=False)
res = pd.read_sql_query('SELECT * FROM firestations', conn)
res